import * as React from 'react';
import * as ReactDOM from 'react-dom';
import { {{component}}View } from '../{{component}}View';
import { {{component}}Model } from '../../../widget/{{folder}}/{{component}}Model';
import { testDom } from '../../../../setupTests';
import { ActionListenerMock } from '../../../../__mocks__/ActionListenerMock';

describe('constructor', () => {
  let componentModel: {{component}}Model;

  beforeEach(() => {
    componentModel = new {{component}}Model();
  });

  it('should set a random id as default', () => {
    const componentView = new {{component}}View(componentModel);

    expect(componentView.getId()).toBeDefined();
  });

  it('should set the id passed as argument', () => {
    const id = '{{component}}Id';
    const componentView = new {{component}}View(componentModel, id);

    expect(componentView.getId()).toBe(id);
  });
});

describe('render component', () => {
  let componentModel: {{component}}Model;

  beforeEach(() => {
    componentModel = new {{component}}Model();
  });

  it('should return a react element', () => {
    const componentView = new {{component}}View(componentModel);
    const component = componentView.renderComponent();

    expect(React.isValidElement(component)).toBeTruthy();
  });
});

describe('render view', () => {
  let document: Document;
  let componentModel: {{component}}Model;
  let componentView: {{component}}View;

  beforeEach(() => {
    const dom = testDom();
    document = dom.window.document;

    componentModel = new {{component}}Model();
    componentView = new {{component}}View(componentModel);
  });

  it('should paint a react element', () => {
    const component: React.ReactElement<{}> = componentView.paint();

    ReactDOM.render(
      component,
      document.getElementById('root'),
    );

    expect(React.isValidElement(component)).toBeTruthy();
  });
});